<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Site built by 1337 Hero -->
        <meta content="text/html; charset=utf-8" http-equiv="content-type">
        <meta charset="utf-8">

        <title>FAQ - {{ siteTitle }}</title>
        <meta content="{{ description }}" name="description">
        <meta content="{{ author }}" name="author">
        <meta content="width=device-width, initial-scale=1" name="viewport">

        <link href="./img/favicon.webp" rel="icon" type="image/webp">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
        
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a2e16b14f9.js" crossorigin="anonymous"></script>
        <link href="./css/styles.css" rel="stylesheet" type="text/css">

        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    </head>
    <body>
        <main>
            <% inc/header-inside.html %>
            <section class="SectionComponent hero section is-block is-relative is-white is-medium divjoy-lne13c">
                <div class="container">
                    <header class="SectionHeader has-text-centered">
                        <h1 class="title has-text-weight-bold is-3 is-spaced extra-margin">Frequently Asked Questions</h1>
                    </header>

                    <article class="accordion" >
                        <div class="accordion-item">
                            <button id="accordion-button-1 title is-spaced is-4" aria-expanded="false">
                                <i class="fas fa-plus icon is-size-5 has-text-primary"></i> <span class="title is-spaced is-4">Why is the moon sometimes out during the day?</span>
                            </button>
                            <div class="is-size-4 accordion-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                            </div>
                        </div>
                    </article>
                    <article class="accordion" >
                        <div class="accordion-item">
                            <button id="accordion-button-2 title is-spaced is-4" aria-expanded="false">
                                <i class="fas fa-plus icon is-size-5 has-text-primary"></i> <span class="title is-spaced is-4">Why is the moon sometimes out during the day?</span>
                            </button>
                            <div class="is-size-4 accordion-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                            </div>
                        </div>
                    </article>
                    <article class="accordion" >
                        <div class="accordion-item">
                            <button id="accordion-button-3 title is-spaced is-4" aria-expanded="false">
                                <i class="fas fa-plus icon is-size-5 has-text-primary"></i> <span class="title is-spaced is-4">Why is the moon sometimes out during the day?</span>
                            </button>
                            <div class="is-size-4 accordion-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                            </div>
                        </div>
                    </article>                    
                </div>
            </section>
            <% inc/newsletter.html %>
            <% inc/cta.html %>
            <% inc/footer.html %>
        </main>
        <% inc/includes.html %>
    </body>
</html>