main {
    min-height: 100vh;
    background-color: #fff;
    scroll-behavior: smooth;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
}

.BackgroundImage {
    opacity: 0.3;
    background-position: center center;
    background-size: cover;
    inset: 0px;
    position: absolute;
    z-index: 0;
}

.title.is-1.hero-title {
    font-size: 5rem;
    text-shadow: 0 4px 0 #c8943b;
    //     padding-bottom: 30px;
    // border-bottom: 19px solid #c8943b;
}

.Pricing__description,
.PricingSection__perks {
    margin-bottom: 25px;
}

.PricingSection__perks {

    display: block;
    margin-bottom: 15px;

    & > li {
    margin-bottom: 10px;
        & > i {
            margin-right: 5px;
        }
    }
}

.includes {
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
}

.extra-margin {
    margin-bottom: 3rem;
}

.is-video {
    background-color: #f1f0f8;
}

.PricingSection__name {
    color: $primary;
}

@media screen and (min-width: 1024px) {
    .section.is-large {
        min-height: 60vh;
    }
}

.navbar-item img {
    max-height: 2.75rem;
}

.menu-list a:hover {
    background-color: $primary;
}

.menu-item {
    position: relative;

    & > a {
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;

        -webkit-transition: background-color .3s;
        transition: background-color .3s;

        color: #fff;
        font-family: $title-family;
        font-weight: 700;
        display: inline-block;
        cursor: pointer;

        padding: 0 1.414rem;

        &::after {
            display: block;
            width: 26px;
            height: 3px;
            background: #c8943b;
            border: none;
            position: absolute;
            left: 1.414rem;
            top: 30px;
            content: " ";
            -webkit-transition: width 0.3s ease-out;
            transition: width 0.3s ease-out;
        }
       &:hover::after {
        width: calc(100% - (2*1.4rem));

        }
    }
}

.FaqSection__faq-item {
    cursor: pointer;
    padding: 1.6rem 0;
    border-bottom: 1px solid #efefef;
    &:last-child { 
      border-bottom: none; 
    }
}


.accordion {
    .accordion-item {
        border-bottom: 1px solid  #e5e5e5;
        button[aria-expanded='true'] {
        border-bottom: 1px solid  #e5e5e5;
    }
  }
  button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;

    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    &:hover, &:focus {
      cursor: pointer;
      color: $primary;
      &::after {
        cursor: pointer;
        color: $primary;
        border: 1px solid $primary;
      }
    }
}
  button[aria-expanded='true'] {
    color: $primary;
    .icon {
      &::after {
        width: 0;
      }
    }
    + .accordion-content {
      opacity: 1;
      max-height: 9em;
      transition: all 200ms linear;
      will-change: opacity, max-height;
    }
  }
  .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
    p {
      font-size: 1rem;
      font-weight: 300;
      margin: 2em 0;
    }
  }
}
