main {
    min-height: 100vh;
    background-color: #fff;
    scroll-behavior: smooth;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
}

.BackgroundImage {
    background-image: url('/img/hero-img-bw.webp');
    opacity: 0.3;
    background-position: center center;
    background-size: cover;
    inset: 0px;
    position: absolute;
    z-index: 0;
}

.title.is-1.hero-title {
    font-size: 5rem;
    text-shadow: 0 4px 0 #c8943b;
    //     padding-bottom: 30px;
    // border-bottom: 19px solid #c8943b;

}

.extra-margin {
    margin-bottom: 3rem;
}



@media screen and (min-width: 1024px) {
    .section.is-large {
        min-height: 60vh;
    }
}

.navbar-item img {
    max-height: 2.75rem;
}


.menu-item {
    position: relative;

    & > a {
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;

        -webkit-transition: background-color .3s;
        transition: background-color .3s;

        color: #fff;
        font-family: $title-family;
        font-weight: 700;
        display: inline-block;
        cursor: pointer;

        padding: 0 1.414rem;

        &::after {
            display: block;
            width: 26px;
            height: 3px;
            background: #c8943b;
            border: none;
            position: absolute;
            left: 1.414rem;
            top: 30px;
            content: " ";
            -webkit-transition: width 0.3s ease-out;
            transition: width 0.3s ease-out;
        }
       &:hover::after {
        width: calc(100% - (2*1.4rem));

        }
    }
}



